<mat-toolbar  color="primary" class="header mat-elevation-z4">
    <span>
        <img src="https://www.pngfind.com/pngs/m/471-4715429_logo-render-png-tengen-toppa-gurren-lagann-yoko.png" alt="">
    </span>
    <span>
        <h1>Todo APP - By Tiago</h1>
    </span>
</mat-toolbar>