form{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.form {
    width: 100%;
}

.bottons {
    width: 100%;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}