<form>
    <h1>ATUALIZAR TODO</h1>

    <mat-form-field class="data-finalizar" appearance="fill">
        <mat-label>Data para Finalizar</mat-label>
        <input [(ngModel)]="todo.dateToFinish" name="todo.dateToFinish" matInput [matDatepicker]="picker" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <div class="forms">
        <mat-form-field class="form">
            <mat-label>Título</mat-label>
            <input [(ngModel)]="todo.title" name="todo.title" matInput type="text" name="nome" maxlength="50" placeholder="Ex. estudar">
        </mat-form-field>
        <mat-form-field class="form">
            <mat-label>Descrição</mat-label>
            <textarea [(ngModel)]="todo.description" name="todo.description" matInput type="text" name="descricao" maxlength="100" placeholder="Ex. atividades para fazer"></textarea>
        </mat-form-field>
    </div>   

    <div class="buttons">
        <button class="mat-elevation-z1" (click)="update()"  mat-stroked-button color="primary">ATUALIZAR</button>
        <button class="mat-elevation-z1" (click)="voltar()" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>