<div class="container">
    <h1>Task finalizadas</h1>
    <div class="badge">
        <button (click)="voltar()" mat-stroked-button color="primary">Voltar</button>
    </div>
    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="">
            <p>Data para finalizar: {{ item.dateToFinish }} </p>             
            <mat-card-header>
                <mat-card-title> {{ item.title }}</mat-card-title>
                <mat-card-subtitle> {{ item.description }} </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>