.container {
    width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(44, 44, 44);
}

.content {
    width: 100%;
}

.badge button {
    margin-top: 1rem;
    width: 100%;
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(90, 90, 90);
    padding-bottom: 0%;
    margin-right: 1rem;
}

mat-card {
    margin-top: 0.8rem;
    padding: 0.2rem;
}
