.container {
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button {
    margin: auto;
    width: 100%;
}

.content {
    width: 100%;
}

.novoTodo {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}

mat-card {
    margin-top: 0.8rem;
    padding: 0.2 rem;
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin-bottom: 0%;
}

.actions {
    text-align: end;
}

.actions button {
    margin: 0.5rem;
}