<div class="container ">
    <div class="badge">
        <button (click)="navegarParaFinalizados()" mat-stroked-button color="primary" matBadge="{{ closed }}" >Tasks Finalizadas</button>
    </div>
    <button routerLink="criar" id="nodo-todo" class="novoTodo"  mat-stroked-button color="primary">NOVO TODO</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="card">
            <p>Data para finalizar: {{ item.dateToFinish }} </p>       
            <mat-card-header >                       
              
              <mat-card-title> {{ item.title }} </mat-card-title>
              <mat-card-subtitle> {{ item.description }} </mat-card-subtitle>
            </mat-card-header>
            <div class="actions">
                <button (click)="finalizar(item)" mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button routerLink="update/{{ item.id }}" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>          
          </mat-card>    
    </div>
</div>
